
.photo{
    background: aqua url(../images/junk.jpg) no-repeat fixed left center;
    background-size: cover;
}

img{
    width: 400px;
    height: 400px;
}
.photo-1{
    width: 100%;
}
p{
    color: yellow;
    background-image: url(../images/junk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}